body{
  margin:0px;
  font-family: monospace;
  }
ul{
  margin: 0px;
  padding: 0px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
a:cursor{
  cursor: pointer;
}
h1{
  margin: 0px;
}
.clear{
  clear: both;
}
/* ヘッダー */
header{
  background-color: black;
  padding-bottom: 10px;
  height: 100%;
}
.header-container{
  padding-top: 30px;
  width: 90%;
  margin: 0 auto;
  color:white;
}
.current-header{
  border-bottom: 1px solid white;
}
.current-footer{
  color: white;
  border-bottom: 1px solid white;
}
.header-left{
  float:left;
}
.header-left h1{
  float:left;
  font-size: 32px;
}
.header-left h1:hover{
  color: gray;
}
/* menubar to open */
.fa-bars{
  cursor:pointer;
  float: right;
  font-size: 30px;
}
/* menu */
.menu{
display: none;
background-color: black;
height: 100%;
text-align: right;
color: white;
}
.menuList{
  width: 90%;
  margin: 0 auto;
}
.menu li{
font-family: arial black;
padding-bottom: 10px;
}
.menu a:hover{
border-bottom: 1px solid white;
}
.menu i {
padding-right: 10px;
}
main{
  padding: 50px 40px;
}
.main-container{
  width: 90%;
  margin: 0 auto;
}
.main-left{
  float: left;
  width: 60%;
  display: inline-block;
}
.main-img{
  width: 90%;
  text-align:center;
}
.main-right{
  width: 40%;
  display: inline-block;
}

.block{
  padding: 10px;
}
.block h2{
  font-family:monospace;
  color: #333333;
  margin: 0px;
  font-size: 36px;
  font-weight: normal;
}
.block p{
  color: darkgray;
}
.LearnMore-wrapper{
  padding-top: 30px;
}
.LearnMore-btn{
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
}

.LearnMore-btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}
.footer-container{
  background-color: black;
  padding: 64px 40px;
  text-align: center;
  color: gray;
}
.footer-container a{
  padding-left: 10px;
  padding-right: 10px;
  font-family: arial black;
}
.footer-container a:hover{
  color: white;
}

/* works.htmlのレイアウト*/
.works-gallary{
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid gray; */
}
.works-gallary-title{
  margin-top: 100px;
  text-align:center;
}
.works-gallary-items{
  margin-top: 140px;
  display: column;

}
.works-gallary-item{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.works-gallary-item img{
  border: 2px solid darkgray;
  cursor: pointer;
  width: 100%;
}
.works-gallary-item img:hover{
  opacity: 0.6;
}
.works-gallary-text{
  color: #222222;
  margin-top: 40px;
  margin-bottom:60px;
}
.works-gallary-text a:hover{
  border-bottom: 1px solid black;
}

.toTop{
  text-align: center;
  color: dimgray;
}
.toTop:hover{
  color: black;
}
